<!DOCTYPE html>
<html>
<head>
    <title>WebChat</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/content.css">
	<link rel="stylesheet" href="/static/css/perfect-scrollbar.css">
	<script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/perfect-scrollbar.js"></script>
</head>
<body>
    <div class="mainWrapper">
        <div class="header">
            <p>WebChat聊天室</p>
        </div>
        <div class="content">
            <div class="userImf">当前在线人数</div>
            <div class="chatWrapper">
                <div class="msg">
                    <ul class="msgList">
                        <li class="msgItem">
                            <div class="msgTag">
                                <p class="userName">用户1</p>
                                <p class="msgTime">17:43</p>
                            </div>
                            <div class="msgText">
                                <p>消息内容你好呀消息内容你好呀消息内容你好呀消息内容你好呀消息内容你好呀消息内容你好呀</p>
                            </div>
                        </li>
                        <li class="msgSys">
                            <p>系统消息：XXX上线了</p>
                        </li>
                        <li class="msgItem">
                            <div class="msgTag">
                                <p class="userName">用户1</p>
                                <p class="msgTime">17:43</p>
                            </div>
                            <div class="msgText">
                                <p>消息内容你好呀消息内容你好呀消息内容你好呀消息内容你好呀消息内容你好呀消息内容你好呀</p>
                            </div>
                        </li>
                        <li class="msgItem">
                            <div class="msgTag">
                                <p class="userName">随便起个用户名</p>
                                <p class="msgTime">17:43</p>
                            </div>
                            <div class="msgText">
                                <p>测试消息测试消息测试消息</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="inputArea">
                    <textarea name="userInput" id="userInput" placeholder="请输入消息内容"></textarea>
                    <div class="butWrapper">
                        <button class="send">发送</button>
                        <button class="delete">清空</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
        <div id='ipp' ip={{ip}} port={{port}}></div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>